/node_modules
/public/hot
/public/storage
/public/themes
/public/modules
/storage/*.key
/storage/debugbar
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.docker/postgres-data
logs/nginx/*
logs/supervisord.log
.docker/data
Modules/*
Themes/*
